# Solving a 2-SLPWR problem using GAMSPy

## Read & Generate Data

In [1]:
import pandas as pd
import openpyxl

ModuleNotFoundError: No module named 'openpyxl'

### Read data from Excel

In [2]:
filename = "problem1.xlsx"

In [3]:
productsData = pd.read_excel(
    io=filename,
    sheet_name="products"
)
productsData.set_index("product")

         assembly cost  selling price  demand 1  demand 2
product
A                  3.5           44.0         7         5
B                  2.0           45.5         4         6
C                  3.0           37.0         3         7
D                  6.0           41.0         2         5
E                  2.5           48.5         4         5
F                  5.0           53.0         5         9
G                  3.0           59.5         1         8
H                  4.0           42.0         8         6

In [4]:
partsData = pd.read_excel(
    io=filename,
    sheet_name="parts"
)
partsData.set_index("part")

      preorder cost  salvage value
part
k               6.0            4.5
m               4.5            3.5
n               7.5            6.5
o               3.5            3.0
p               5.0            4.0

In [5]:
manufactureData = pd.read_excel(
    io=filename,
    sheet_name="manufacture"
).set_index("part")
manufactureData

      k  m  n  o  p
part
A     2  1  0  0  4
B     1  1  2  3  0
C     0  3  0  1  2
D     2  1  0  3  1
E     0  2  1  1  4
F     3  0  0  2  2
G     2  1  2  0  1
H     1  0  2  0  3

### Generate data for `demand` follows Bin(10, 0.5)

- Create probability set of values in range[0,10]

In [6]:
# import math

# values = list(range(11))
# probValues = []
# for v in values:
#     probValues.append(math.comb(10, v)*pow(0.5, v)*pow(0.5, 10-v))
    
# probValues

- Random values for $d^1$ and $d^2$ where probability of each value follows `probValues`

In [7]:
import random
# d1 = random.choices(values, probValues, k=8)
# d2 = random.choices(values, probValues, k=8)

# d1 = [7, 4, 3, 2, 4, 5, 1, 8]
# d2 = [5, 6, 7, 5, 5, 9, 8, 6]

- Add demand values to `productsData`

In [8]:
# productsData["demand 1"] = d1
# productsData["demand 2"] = d2
# productsData

## Symbol Declaration

In [9]:
import numpy as np
import gamspy as gp

### Container

In [10]:
m = gp.Container()

### Set (indices)

- $i$ = products
- $j$ = parts

In [11]:
i = gp.Set(
    container=m,
    name="i",
    description="products",
    records=productsData["product"]
)
i.records

  uni element_text
0   A
1   B
2   C
3   D
4   E
5   F
6   G
7   H

In [12]:
j = gp.Set(
    container=m,
    name="j",
    description="parts",
    records=partsData["part"]
)
j.records

  uni element_text
0   k
1   m
2   n
3   o
4   p

### Parameter (given data)

- $b_j$ = preorder cost of part $j$

In [13]:
b = gp.Parameter(
    container=m,
    name="b",
    domain=j,
    description="preorder cost of part j",
    records=partsData[["part", "preorder cost"]]
)
b.records

  part  value
0    k    6.0
1    m    4.5
2    n    7.5
3    o    3.5
4    p    5.0

- $l_i$ = assembly cost of product $i$

In [14]:
l = gp.Parameter(
    container=m,
    name="l",
    domain=i,
    description="assembly cost of product i",
    records=productsData[["product", "assembly cost"]]
)
l.records

  product  value
0       A    3.5
1       B    2.0
2       C    3.0
3       D    6.0
4       E    2.5
5       F    5.0
6       G    3.0
7       H    4.0

- $q_i$ = selling price of product $i$

In [15]:
q = gp.Parameter(
    container=m,
    name="q",
    domain=i,
    description="selling price of product i",
    records=productsData[["product", "selling price"]]
)
q.records

  product  value
0       A   44.0
1       B   45.5
2       C   37.0
3       D   41.0
4       E   48.5
5       F   53.0
6       G   59.5
7       H   42.0

- $s_j$ = salvage value of part $j$

In [16]:
s = gp.Parameter(
    container=m,
    name="s",
    domain=j,
    description="salvage value of part j",
    records=partsData[["part", "salvage value"]]
)
s.records

  part  value
0    k    4.5
1    m    3.5
2    n    6.5
3    o    3.0
4    p    4.0

- $a_{ij}$ = amount of part $j$ needed to make a product $i$

In [17]:
a = gp.Parameter(
    container=m,
    name="a",
    domain=[i,j],
    description="amount of part j needed to make a product i",
    records=manufactureData.to_numpy()
)
a.records

    i  j  value
0   A  k    2.0
1   A  m    1.0
2   A  p    4.0
3   B  k    1.0
4   B  m    1.0
5   B  n    2.0
6   B  o    3.0
7   C  m    3.0
8   C  o    1.0
9   C  p    2.0
10  D  k    2.0
11  D  m    1.0
12  D  o    3.0
13  D  p    1.0
14  E  m    2.0
15  E  n    1.0
16  E  o    1.0
17  E  p    4.0
18  F  k    3.0
19  F  o    2.0
20  F  p    2.0
21  G  k    2.0
22  G  m    1.0
23  G  n    2.0
24  G  p    1.0
25  H  k    1.0
26  H  n    2.0
27  H  p    3.0

- $d_i^1$ = demand of product $i$ in scenario 1
- $d_i^2$ = demand of product $i$ in scenario 2

In [18]:
d1 = gp.Parameter(
    container=m,
    name="d1",
    domain=i,
    description="demand of product i in scenario 1",
    records=productsData[["product", "demand 1"]]
)
d1.records

  product  value
0       A    7.0
1       B    4.0
2       C    3.0
3       D    2.0
4       E    4.0
5       F    5.0
6       G    1.0
7       H    8.0

In [19]:
d2 = gp.Parameter(
    container=m,
    name="d2",
    domain=i,
    description="demand of product i in scenario 2",
    records=productsData[["product", "demand 2"]]
)
d2.records

  product  value
0       A    5.0
1       B    6.0
2       C    7.0
3       D    5.0
4       E    5.0
5       F    9.0
6       G    8.0
7       H    6.0

### Variable (decision variables)

- $x_j$ = amount of preorder part $j$ (no negative, integer)

In [20]:
x = gp.Variable(
    container=m,
    name="x",
    domain=j,
    type="integer",
    description="amount of preorder part j"
)

- $y_j$ = amount of left part $j$ after production (no negative, integer)
    - $y^1$ for scenario 1
    - $y^2$ for scenario 2

In [21]:
y1 = gp.Variable(
    container=m,
    name="y1",
    domain=j,
    type="integer",
    description="amount of left part j in scenario 1"
)

y2 = gp.Variable(
    container=m,
    name="y2",
    domain=j,
    type="integer",
    description="amount of left part j in scenario 2"
)

- $z_i$ = amount of product $i$ to manufacture (no negative, integer)
    - $z^1$ for scenario 1
    - $z^2$ for scenario 2

In [22]:
z1 = gp.Variable(
    container=m,
    name="z1",
    domain=i,
    type="integer",
    description="amount of product i in scenario 1"
)

z2 = gp.Variable(
    container=m,
    name="z2",
    domain=i,
    type="integer",
    description="amount of product i in scenario 2"
)

### Equation (constaints)

- Production satisfy demand as much as possible

In [23]:
production1 = gp.Equation(
    container=m,
    name="production1",
    domain=i,
    description="production satisfy a portion of demand i in scenario 1"
)

production2 = gp.Equation(
    container=m,
    name="production2",
    domain=i,
    description="production satisfy a portion of demand i in scenario 2"
)

- Left parts calculation

In [24]:
redundance1 = gp.Equation(
    container=m,
    name="redundance1",
    domain=j,
    description="calculate left parts after production in scenario 1"
)

redundance2 = gp.Equation(
    container=m,
    name="redundance2",
    domain=j,
    description="calculate left parts after production in scenario 2"
)

In [25]:
production1[i] = z1[i] <= d1[i]
production2[i] = z2[i] <= d2[i]

In [26]:
redundance1[j] = y1[j] == x[j] - gp.Sum(i, a[i,j]*z1[i])
redundance2[j] = y2[j] == x[j] - gp.Sum(i, a[i,j]*z2[i])

### Object Function

We want to minimize the total cost of the manufacturing, the negative result of `obj` is expected so that some profit exist

In [27]:
obj = gp.Sum(j, b[j]*x[j]) + 0.5*(gp.Sum(i, (l[i]-q[i])*z1[i]) - gp.Sum(j, s[j]*y1[j])) + 0.5*(gp.Sum(i, (l[i]-q[i])*z2[i]) - gp.Sum(j, s[j]*y2[j]))

### Model

In [28]:
problem1 = gp.Model(
    container=m,
    name="problem1",
    equations=m.getEquations(),
    problem="MIP",
    sense=gp.Sense.MIN,
    objective=obj
)

## Solve

### Viewing Optimal Solution

- Variable Values

In [30]:
x.records.set_index("j")

   level  marginal  lower  upper  scale
j
k   61.0       6.0    0.0    inf    1.0
m   50.0       4.5    0.0    inf    1.0
n   37.0       7.5    0.0    inf    1.0
o   48.0       3.5    0.0    inf    1.0
p   87.0       5.0    0.0    inf    1.0

In [31]:
z1.records.set_index("i")

   level  marginal  lower  upper  scale
i
A    7.0    -20.25    0.0    inf    1.0
B    4.0    -21.75    0.0    inf    1.0
C    3.0    -17.00    0.0    inf    1.0
D    2.0    -17.50    0.0    inf    1.0
E    4.0    -23.00    0.0    inf    1.0
F    5.0    -24.00    0.0    inf    1.0
G    1.0    -28.25    0.0    inf    1.0
H    8.0    -19.00    0.0    inf    1.0

In [32]:
y1.records.set_index("j")

   level  marginal  lower  upper  scale
j
k   14.0     -2.25    0.0    inf    1.0
m   19.0     -1.75    0.0    inf    1.0
n    7.0     -3.25    0.0    inf    1.0
o   13.0     -1.50    0.0    inf    1.0
p    0.0     -2.00    0.0    inf    1.0

In [33]:
z2.records.set_index("i")

   level  marginal  lower  upper  scale
i
A    5.0    -20.25    0.0    inf    1.0
B    6.0    -21.75    0.0    inf    1.0
C    7.0    -17.00    0.0    inf    1.0
D    0.0    -17.50    0.0    inf    1.0
E    5.0    -23.00    0.0    inf    1.0
F    9.0    -24.00    0.0    inf    1.0
G    8.0    -28.25    0.0    inf    1.0
H    2.0    -19.00    0.0    inf    1.0

In [34]:
y2.records.set_index("j")

   level  marginal  lower  upper  scale
j
k    0.0     -2.25    0.0    inf    1.0
m    0.0     -1.75    0.0    inf    1.0
n    0.0     -3.25    0.0    inf    1.0
o    0.0     -1.50    0.0    inf    1.0
p    1.0     -2.00    0.0    inf    1.0

In [35]:
decisionVals_part = pd.DataFrame()
decisionVals_part["part"] = x.records["j"]
decisionVals_part["x"] = x.records["level"]
decisionVals_part["y1"] = y1.records["level"]
decisionVals_part["y2"] = y2.records["level"]

decisionVals_part.set_index("part")

         x    y1   y2
part
k     61.0  14.0  0.0
m     50.0  19.0  0.0
n     37.0   7.0  0.0
o     48.0  13.0  0.0
p     87.0   0.0  1.0

In [36]:
decisionVals_product = pd.DataFrame()
decisionVals_product["product"] = z1.records["i"]
decisionVals_product["z1"] = z1.records["level"]
decisionVals_product["z2"] = z2.records["level"]

decisionVals_product.set_index("product")

          z1   z2
product
A        7.0  5.0
B        4.0  6.0
C        3.0  7.0
D        2.0  0.0
E        4.0  5.0
F        5.0  9.0
G        1.0  8.0
H        8.0  2.0

- Optimal Value

In [37]:
problem1.objective_value

-290.25